<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="default.pattern" value="%date [%thread] %-5level %logger{80} - %msg%n"/>
    <property name="serbbe.pattern" value="%date %msg%n"/>

    <appender name="serbbeAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${catalina.base}/logs/serbbe.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${catalina.base}/logs/serbbe.%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>${serbbe.pattern}</pattern>
        </layout>
    </appender>

    <appender name="normalAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${catalina.base}/logs/normal.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${catalina.base}/logs/normal.%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>${default.pattern}</pattern>
        </layout>
    </appender>

    <logger name="org">
        <level value="ERROR"/>
        <appender-ref ref="normalAppender"/>
    </logger>

    <logger name="com.henry.search.service">
        <level value="DEBUG"/>
        <appender-ref ref="normalAppender"/>
    </logger>

    <logger name="dataLogger">
        <level value="INFO"/>
        <appender-ref ref="serbbeAppender"/>
    </logger>
</configuration>